.poppins_14{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: regular;
}

.poppins_16{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: italic;
}

.poppins_17{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.poppins_17b{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.poppins_18{
    font-family: 'Poppins', sans-serif;
    color: white;;
    font-size: 18px;
    font-weight: bold;
}

.poppins_18_black{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.poppins_20{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.poppins_22{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.poppins_27{
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
}

.poppins_30{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
}